@font-face {
    font-family: 'fira-code';
    src: url('../../assets/fonts/FiraCode-Regular.woff');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'fira-code', 'Open Sans';
}

/* links */
/* links animation */
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .1s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#F8A250, #F8A250)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}


/* quote box */
.quote div{
    display: flex;
	flex-direction: column;
	align-items: end;
}

blockquote {
    margin: 6rem;
    margin-bottom: 0;
    padding: 32px;
    position: relative;
    border: 1px solid;
    border-color: #ABB2BF;
    color: #F4EFDE;
    font-size: 1.5rem;
	line-height: 1.4;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #ABB2BF;
	font-size: 6rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: 1rem;
	top: 1rem;
}

blockquote:after {
	content: '”';
	right: 1rem;
	bottom: -5rem;
}

cite {
	line-height: 3;
	text-align: right;
    width: fit-content;
    padding: 1rem;
    color: #F4EFDE;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    border: 1px solid;
    border-color: #ABB2BF;
    direction: rtl;
}

/* quote box */

/* arabic text */
.arabic-text {
    font-family: "Arabic Typesetting-Regular", Helvetica, sans-serif;
}